* {
  text-align: center;
}
button {
  background-color: red;
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
}
#dicePosition1 {
  float: left;
  height: 25px;
  width: 25px;
  padding: 25px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;  
  font-size:18px;
}

#dicePosition2 {
  float: left;
  height: 25px;
  width: 25px;
  padding: 25px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;  
  font-size:18px;
}

#value{
  font-size: 18px;
  margin: 0px;
}
#text {
  
  font-size:18px;
  margin:0px;
}
#timer, #time {
    font-size:18px;
    margin:0px;
    
}
