/* body{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  img{
    width:700px;
    height:700px;
  }
  table{
    border-collapse: collapse;
    width:700px;
    height:700px;
    table-layout: fixed;
  }
  #sq{
    border: none;
    width: 53.6px;
    padding: 0px;
    margin: 0px;
  }
  div {
      background-image: url('images/Board.jpg');
  } 

  body {
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #ddf4df;
  }

  table {
    table-layout: fixed;
    border: 1px solid white;
    text-align: center;
    table-layout:fixed;
    border-collapse: collapse;
    width:700px;
    height:700px;
  }

  #board {
      background-image: url('images/Board (1).jpg');
      background-size: 700px 700px;

  }

.edge {
    border: none;
    height: 94px !important;
    width: 95px !important;
    padding: 0px;
    margin: 0px;
}

.player{
    width: 40px;/*these were originally 20
    height: 40px;
}

#dicePosition1 {
    float: left;
    height: 15px;
    width: 15px;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;  
    font-size:18px;
    background-color: white;
    /*visibility: visible;
    opacity: 0.0;
  }

  #dicePosition2 {
    float: left;
    height: 15px;
    width: 15px;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;  
    font-size:18px;
    background-color: white;
    /*visibility: visible;
    opacity: 0.0;
  }

  #goojf {
    visibility: hidden; 
    height: 75px;
    width: 150px;
    border: 2px solid black;
  }

  #goojfNo {
    visibility: hidden; 
    height: 75px;
    width: 150px;
    border: 2px solid black;
  }

  #buyOrAuction {
    visibility: hidden; 
    height: 75px;
    width: 150px;
    border: 2px solid black;
  }

  #auctionWindow {
    visibility: hidden;
    height: 150px;
    width: 300px;
    border: 2px black solid;
  }

  #bidder {
    visibility: hidden;
  }

  #bootButt {
    height: 40px;
    width: 40px;
    background-image: url('images/boot.png');
    background-size: 35px 35px;
  }

  #carButt {
    height: 40px;
    width: 40px;
    background-image: url('images/car.png');
    background-size: 35px 35px;
  }

  #hatButt {
    height: 40px;
    width: 40px;
    background-image: url('images/hat.png');
    background-size: 35px 35px;
  }

  #shipButt {
    height: 40px;
    width: 40px;
    background-image: url('images/ship.png');
    background-size: 35px 35px;
  }

  #barrButt {
    height: 40px;
    width: 40px;
    background-image: url('images/barrow.png');
    background-size: 35px 35px;
  }

  #coneButt {
    height: 40px;
    width: 40px;
    background-image: url('images/cone.png');
    background-size: 35px 35px;
  }

  #iconChoices {
    position: absolute;
  }

/*td{
      border: 1px solid white;
    }
   .right{
      height: 56.85px;
      width: 25px;
      background-color: black;
    }
    .left{
      height: 56.5px;
      width: 25px;
      background-color: black;
      float: right;
    }
    .top{
      height: 25px;
      width: 56.5px;
      background-color: black;
    }
    .bottom{
      height: 25px;
      width: 56.5px;
      background-color: black;
      position: static;
    }
    .hor{
      width: 94px;
      height:56px;
    }
    .ver{
      width: 52px;
      height:89px;
    }*/

    body {
      display:flex;
      align-items:center;
      justify-content:center;
      background-color: #ddf4df;
    }
    
    table{
      border: 2px solid black;
      text-align: center;
      border-collapse: collapse;
      width:700px;
      height:700px;
      padding: 0px;
      margin: 0px;
      table-layout: fixed;
      resize: none;
    }
    
    #board {
        background-image: url('images/Board (1).jpg');
        background-size: 700px 700px;
    }
      .edge {
          /*border: 1px solid white;*/
          height: 91px !important;
          width: 90px !important;
          border-collapse: collapse;
          padding: 0px;
          margin: 0px;
          table-layout: fixed;
          resize: none;
    
      }
      .player{
        width: 25px;
        height:25px;
    
      }
      .ver{
       width: 55px;
       height:91px;
       padding: 0px;
       margin: 0px;
       border-collapse: collapse;
       /*border: 1px solid white;*/
       table-layout: fixed;
       resize: none;
    
     }
    
     .hor{
       width: 91px;
       height:55px;
       padding: 0px;
       margin: 0px;
       border-collapse: collapse;
       /*border: 1px solid white;*/
       table-layout: fixed;
       resize: none;
    
    
     }

        #dicePosition1 {
          height: 30px;
          width: 30px;
          /*padding: 10px;
          margin: 5px;*/
          border: 1px solid black;
          border-radius: 5px;
          /*font-size: 75px;*/
          background-color: white;
          /*visibility: hidden;*/
          opacity: 0.0;
          /*font-size: 50px;*/
        }

        .dice {
          width: 30px;
          height: 30px;
        }
    
        #dicePosition2 {
          height: 30px;
          width: 30px;
          /*padding: 10px;
          margin: 5px;*/
          border: 1px solid black;
          border-radius: 5px;
          /*font-size:18px;*/
          background-color: white;
          /*visibility: visible;*/
          opacity: 0.0;
          /*font-size: 50px;*/
        }
    
        #goojf {
          visibility: hidden;
          height: 75px;
          width: 150px;
          border: 2px solid black;
        }
    
        #goojfNo {
          visibility: hidden;
          height: 75px;
          width: 150px;
          border: 2px solid black;
        }
    
        #buyOrAuction {
          visibility: hidden;
          height: 75px;
          width: 150px;
          border: 2px solid black;
        }
    
        #auctionWindow {
          visibility: hidden;
          height: 150px;
          width: 300px;
          border: 2px black solid;
        }
    
        #bidder {
          visibility: hidden;
        }

        #bootButt {
          height: 40px;
          width: 40px;
          background-image: url('images/boot.png');
          background-size: 35px 35px;
        }
      
        #carButt {
          height: 40px;
          width: 40px;
          background-image: url('images/car.png');
          background-size: 35px 35px;
        }
      
        #hatButt {
          height: 40px;
          width: 40px;
          background-image: url('images/hat.png');
          background-size: 35px 35px;
        }
      
        #shipButt {
          height: 40px;
          width: 40px;
          background-image: url('images/ship.png');
          background-size: 35px 35px;
        }
      
        #barrButt {
          height: 40px;
          width: 40px;
          background-image: url('images/barrow.png');
          background-size: 35px 35px;
        }
      
        #coneButt {
          height: 40px;
          width: 40px;
          background-image: url('images/cone.png');
          background-size: 35px 35px;
        }
      
        #iconChoices {
          position: absolute;
        }
    
         .right{
           /* background-color: black;*/
           height: 56.5px;
           width: 20px;
           padding: 0px;
           margin: 0px;
           float:left;
           left: 0%;
           top: 0%;
           margin-left: 0px;
           z-index: 2
    
    
         }
         .left{
            /* background-color: black;*/
           height: 56.5px;
           width: 20px;
           resize: none;
           padding: 0px;
           margin: 0px;
           float: right;
           left: 78%;
           top: 0%;
           margin-left: 0px;
           z-index: 2
    
         }
         .top{
            /* background-color: black;*/
           height: 20px;
           width: 56.5px;
           resize: none;
           padding: 0px;
           margin: 0px;
           position: absolute;
           top: 80px;
           resize: none;
           z-index: 2;
         }
    
         .bottom{
           /* background-color: black;*/
           height: 20px;
           width: 56.5px;
           resize: none;
           padding: 0px;
           margin: 0px;
           position: absolute ;
           bottom: -8px;
           resize: none;
           z-index: 2;
         }
    
    /*@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
    #clock {
      background: #333;
      font-family: 'Lato', sans-serif;
      text-align: center;
      color: #eee;
      text-shadow: 1px 1px 5px black;
      padding: 1rem 0;
      font-size: 3rem;
      border: 1px solid #000;
    }
    /*
    @import url(https://fonts.googleapis.com/css?family=Lato:100,400);
    #auctionTimer {
      background: #333;
      font-family: 'Lato', sans-serif;
      text-align: center;
      color: #eee;
      text-shadow: 1px 1px 5px black;
      padding: 1rem 0;
      font-size: 3rem;
      border: 1px solid #000;
    }
    */