  body {
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #ddf4df;
  }

  table{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    width:700px;
    height:700px;
    padding: 0px;
    margin: 0px;
    table-layout: fixed;
  }
  #board {
      background-image: url('images/Board.jpg');
      background-size: 700px 700px;


  }
    .edge {
        border: 1px solid white;
        height: 91px !important;
        width: 91px !important;
        border-collapse: collapse;
        padding: 0px;
        margin: 0px;
        table-layout: fixed;
        overflow: hidden;
    }
    .player{
      width: 20px;
      height:20px;

    }
    .ver{
     width: 56px;
     height: 90px;
     padding: 0px;
     margin: 0px;
     border-collapse: collapse;
     border: 1px solid white;
     table-layout: fixed;
   }

   .hor{
     width: 90px;
     height: 56;
     padding: 0px;
     margin: 0px;
     border-collapse: collapse;
     border: 1px solid white;
     table-layout: fixed;

   }
  /*  .right{
     height: 55px;
     width: 22px;
     border: 1px solid white;
     background-color: black;

   }
   .left{
     height: 55px;
     width: 22px;
     background-color: black;
     float: right;
   }

   .top{
     height: 22px;
     width: 55px;
     background-color: black;
   }

   .bottom{
     height: 22px;
     width: 55px;
     background-color: black;
   }


    .ver{
     width: 55px;
     height: 90px;
     padding: 0px;
     margin: 0px;
     border: 1px solid white;
     table-layout: fixed;
   }

   .hor{
     width: 90px;
     height: 55;
     padding: 0px;
     margin: 0px;
     border: 1px solid white;
     table-layout: fixed;

   }


    */
