/* body{
    display:flex;
    align-items:center;
    justify-content:center;
  }

  img{
    width:700px;
    height:700px;
  }
  
  table{
    border-collapse: collapse;
    width:700px;
    height:700px;
    table-layout: fixed;
  }

  #sq{
    border: none;
    width: 53.6px;
    padding: 0px;
    margin: 0px;
  }
  
  #edge{
    border: none;
    height: 90px !important;
    width: 90px !important;
    padding: 0px;
    margin: 0px;
  }

  div {
      background-image: url('images/Board.jpg');
  } */

  body {
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #ddf4df;
  }
  
  table {
    border: 4px solid black;
    text-align: center;
    table-layout:fixed;
    border-collapse: collapse;
    width:700px;
    height:700px;
  }
  
  #board {
      background-image: url('images/Board.jpg');
      background-size: 700px 700px;
  }

    .edge {
        border: none;
        height: 93px !important;
        width: 93px !important;
        padding: 0px;
        margin: 0px;
    }
    .player{
      width: 20px;
      height:20px;
    }